$primary: #0b132b;
$primary-100: #1c2541;
$primary-200: #3a506b;
$primary-300: #5bc0be;
$primary-400: #6fffe9;
$primary-500: #6fffe9;
$secondary: #6fffe9;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$light: #f8f9fa;
$dark: #343a40;
$white: #fff;
$theme-colors: (
  "custom-color": #900,
  "primary": #0b132b,
  "primary-100": #1c2541,
  "primary-200": #3a506b,
  "primary-300": #52057b,
  "primary-400": #ebc7e6,
  "primary-500": #ffffff,
  "secondary": #ebc7e6,
  "success": #28a745,
  "danger": #dc3545,
  "warning": #ffc107,
  "info": #17a2b8,
  "light": #000000,
  "dark": #343a40,
  "white": #fff,
  "dark-purple": #52057b,
  "purplee": #892cdc,
  "lg-purple": #bc6ff1,
  "lt-purple": #d2adea,
  "orange": #fd866f,
  "primary-white": #d9d9d9,
);
@import "~bootstrap/scss/bootstrap";
